* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

body {
  background: #b85b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  background: #ffffff;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}
.content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}
button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0px;
  background: #e2e0e0;
  transition: 0.2s;
}
button:hover {
  color: #e2e0e0;
  cursor: pointer;
  background: #201f1f;
}
input {
  background: #e2e0e0;
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  outline: none;
  text-align: right;
}
.yellow {
  color: #e2e0e0;
  background: #ce6f21;
}
